/*
  A CodeMirror theme based on Sarah Drasner's Night Owl Light:
	https://github.com/sdras/night-owl-vscode-theme/blob/main/themes/Night%20Owl-Light-color-theme.json
 */

.cm-s-light-owl span.cm-comment {
  color: #989fb1;
}
.cm-s-light-owl span.cm-string {
  color: #c96765;
}
.cm-s-light-owl span.cm-grammarDef {
  color: #4876d6;
}
.cm-s-light-owl span.cm-ruleDef {
  color: #4876d6;
}
.cm-s-light-owl span.cm-operator {
  color: #994cc3;
}

.cm-s-light-owl span.cm-meta {
  color: #989fb1;
}
.cm-s-light-owl span.cm-caseName {
  color: #989fb1;
  font-style: italic;
}
