#exampleList {
  list-style: none;
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: auto;
}

#addExampleLink {
  color: #999;
  font-size: 12px;
  margin: 6px 12px;
  text-decoration: none;
}

#addExampleLink:hover {
  color: #666;
  text-decoration: underline;
}

#exampleList .example {
  align-items: center;
  border-bottom: 1px solid #eee;
  color: #999;
  display: flex;
  margin: 0;
  white-space: nowrap;
}

#exampleList .example code {
  border-left: 4px solid #bbb;
  cursor: default;
  flex: 1;
  overflow: hidden;
  padding: 6px 8px 6px 8px;
  text-overflow: ellipsis;

  /* Weirdly, it won't shrink smaller than its content unless we give it an explicit width. */
  width: 1px;
}

#exampleList .example.fail code {
  border-left: 4px solid #d44950;
}

#exampleList .example.pass code {
  border-left: 4px solid #58B958;
}

#exampleList .example.pendingUpdate code {
  color: #bbb;
}

#exampleList .example.selected {
  color: #333;
  background-color: #f7f7f7;
}

#exampleList code,
#exampleList .startRule {
  font-family: Menlo, Monaco, monospace;
  font-size: 12px;
}

#exampleList .example .thumbsUpButton,
#exampleList .example .delete {
  cursor: default;
  padding: 0 4px 0 4px;
}

#exampleList .example.selected .thumbsUpButton:not(:hover) {
  filter: grayscale(1.0);
  opacity: 0.6;
}

#exampleList .example .delete {
  color: #999;
  font-size: 12px;
  margin-right: 4px;
  visibility: hidden;
}

#exampleList .example:hover .delete {
  visibility: visible;
}

#exampleList .example .delete:hover {
  color: #666;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  @media {
    /* Safari 6.1+ ONLY */
    #exampleList .example .thumbsUpButton {
      font-size: 12px;
    }
  }
}

/* Firefox 1+ only */
#exampleList .example .thumbsUpButton, x:-moz-any-link {
  font-size: 16px;
}

#exampleList .example:hover {
  background-color: #f7f7f7;
}

#exampleList code:empty::before {
  content: '\a0';  /* Insert &nbsp; to keep the correct height. */
}

/* Additions for example generation */

#examplesNeededDrawer {
  float: right;
  cursor: pointer;
  color: hsl(0, 0%, 30%);
  font-weight: normal;
}

#examplesNeededDrawer .indicator {
  transition: color 0.5s ease;
}

#examplesNeededDrawer .indicator.active {
  color: hsl(219, 100%, 70%);
}

#exampleRequestContainer {
  width: 0px;
}

.exampleGeneratorUI.hidden {
  visibility: hidden;
}

#exampleRequestContainer.hidden {
  flex-grow: 0 !important;
}

#exampleRequests {
  border-top: 1px solid #ddd;
}

#exampleRequests ul {
  list-style: none;
  padding: 0px;
}

#exampleRequests ul textarea {
  font-family: Menlo, Monaco, monospace;
  font-size: 12px;
  display: block;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 10%);
  margin: 5px 10px 0px 10px;
  text-align: left;
  height: 20px;
  width: 95%;
}

#exampleRequests ul textarea.invalid {
  background-color: #FDE0E0 !important;
}

#exampleRequests ul textarea::-webkit-input-placeholder, /* Chrome/Opera/Safari */
#exampleRequests ul textarea::-moz-placeholder, /* Firefox 19+ */
#exampleRequests ul textarea:-ms-input-placeholder, /* IE 10+ */
#exampleRequests ul textarea:-moz-placeholder { /* Firefox 18- */
  margin-left: 15px;
  text-align: left;
}

.requestContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.startRule {
  color: hsl(0, 0%, 85%);
  margin-right: 4px;
}

.selected .startRule {
  color: hsl(0, 0%, 75%);
}

#neededExamples > ul {
  list-style-type: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding-left: 0px;
}

#neededExamples > ul > li {
  text-align: center;
}

option.needed {
  color: hsl(38, 86%, 55%);
  font-weight: bold;
}

#neededExamples {
  padding: 7px;
}

#exampleBottom {
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

#exampleBottom .exampleText {
  flex: 1;
}

#exampleBottom > .editorWrapper {
  flex: 1;
  margin-right: 12px;
  position: relative;
}

#exampleBottom > #neededExamples {
  z-index: 10;
}

#exampleBottom .header {
  padding: 0 12px 0 12px;
}

#exampleBottom .header .gap {
  flex: 1;
}

#exampleBottom .header label {
  margin-right: 4px;
  text-align: right;
}

#exampleBottom .header-contents {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 4px 0;
}

#exampleBottom .header-contents .thumbsUpButton {
  cursor: default;
  font-size: 16px;
  margin: 0 12px 0 8px;
}

#exampleBottom .CodeMirror-lines pre {
  padding-left: 12px;
}
